

//colors
$white				: #ffffff;
$black				: #000000;
$orange 			: #FF9901;
$darkOrange         : #BB7001;
$grey				: #989898;
$magnesium			: #D6D6D6;

body{
	background-color: $magnesium;
	font-family: "Helvetica Neue", courier;

}

.listing{
	background-color: $white;
	display: table;
	margin: 1em auto;
	text-align: left;
	position: relative;
	p{
		font-size: 1.4em;
		font-weight: bold;
		margin: 0;
		padding: 0 0 .5em .5em;
	
	}
	.cruiseLineInfo{
		font-size: .7em;
		color: $grey;
		font-style: italic;
		padding: .5em 0 0 .9em;
	}
}


.lowPrice{
	width: 125px;
	height: 75px;
	position: absolute;
	top: 50px;
	right: -10px;
	background-color: $orange;
	.triangle{
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 10px 0 0;
		border-color: #bb7001 transparent transparent transparent;
		position: absolute;
		top: 75px;
		right:0; 
	}
}



.sailingDateUL{
	margin: 0;
	padding: 0 .5em .5em;
	float: left;
	text-align: left;

	li{
		list-style: none;
		padding: .4em;
	}
}

.sailingPriceUL{
	margin: 0;
	padding: 0 .5em;
	float: right;
	li{
		list-style: none;
		padding: .4em;
		color: $orange;
	}

}

.cid{
	display: none;
}

.itemTemplateWrapper{
	border: 1px solid $grey;
	position: relative;
	padding-bottom: 66px;
	.titleContainer{
		padding: 1em;
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			.title1{
				font-size: 6vw;
				font-weight: bold;
			}
			.title2{
				font-size: 4vw;
				font-style: italic;
			}
			
		}
	}
}

.sailingsTotalContainer{
	width: 100%;
	height: 66px;
	background: $white;
    -webkit-box-shadow: 0px -1px 3px #B4B4B4;
    -moz-box-shadow:    0px -1px 3px #B4B4B4;
    box-shadow:         0px -1px 3px #B4B4B4;
	position: fixed;
	bottom: 0;
		.totalText{
			width: 40%;
			float: left;
			padding: .6em;
			font-size: 1.1em;
			font-weight: bold;
			text-align: left;
			word-wrap: break-word;
		}
		.total{
			width: 50%;
			height: 100px;
			float: right;
			background: $orange;
		}
}


/* iPads (portrait and landscape) ----------- */
@media(min-width : 768px) and (max-width : 1152px) {
	.listing{

		display: table;
		margin: 1em auto;
		width: 90%;
	p{
		font-size: 1.4em;
		font-weight: bold;
		margin: 0;
		padding: 0 0 .5em .5em;
	
	}
	 p #sailingName {
		font-size: 2em;
	}

	.cruiseLineInfo{
		font-size: .7em;
		color: $grey;
		font-style: italic;
		padding: .5em 0 0 .9em;
	}
}


	.listing{
		display: table;
		margin: 1em auto;
		width: 90%;

		
		img{
			display: inline-block;
			float: left;
		}


		.listingcontent{
			width: 40%;
			padding-top: 30px;
			float: left;
			text-align: left;

			
			
		}
	}	

	.itemTemplateWrapper{
		border: 1px solid $grey;
		position: relative;
		padding-bottom: 66px;
		.titleContainer{
			padding: 1em;
			ul{
				margin: 0;
				padding: 0;
				list-style: none;
				.title1{
					display: inline-block;
					font-size: 3vw;
					font-weight: bold;
				}
				.title2{
					display: inline-block;
					font-size: 2vw;
					font-style: italic;
				}
				
			}
		}
	}
}

@media(min-width : 1153px){
/* Styles */

	
	.listing{
		display: inline-block;
		margin: 1em 2.5em;


		img{
					}


		.listingcontent{
		

			
			
		}
	}	

	.itemTemplateWrapper{
		border: 1px solid $grey;
		position: relative;
		padding-bottom: 66px;
		.titleContainer{
			padding: 1em;
			ul{
				margin: 0;
				padding: 0;
				list-style: none;
				.title1{
					display: inline-block;
					font-size: 2vw;
					font-weight: bold;
				}
				.title2{
					display: inline-block;
					font-size: 1vw;
					font-style: italic;
				}
				
			}
		}
	}


}

